{"openapi":"3.1.0","info":{"title":"XGuard Universal Paid AI Agent + Secretless Gateway","version":"5.1.0","description":"Describe a supported outcome. Receive normalized results or an exact x402 price, then authorize and retry the same request. Start with intent:demo for free."},"servers":[{"url":"https://api.xguardgate.com"}],"paths":{"/v1/execute":{"post":{"operationId":"xguardExecute","tags":["Outcomes"],"summary":"Execute a public-source outcome","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"intent":{"oneOf":[{"type":"string","maxLength":3000},{"type":"object"}],"example":"Get a technology news digest"},"capability":{"type":"string","enum":["extract-preview","web-extraction","product-offers","feed-digest"]},"url":{"type":"string","format":"uri"},"urls":{"type":"array","maxItems":3,"items":{"type":"string","format":"uri"}},"sources":{"type":"array","maxItems":3,"items":{"oneOf":[{"type":"string","format":"uri","pattern":"^https://"},{"type":"object","required":["url"],"properties":{"url":{"type":"string","format":"uri"},"fallbacks":{"type":"array","maxItems":1,"items":{"type":"string","format":"uri"}}},"additionalProperties":false}]}},"action":{"type":"string"},"desired_action":{"type":"string"},"html":{"type":"string","maxLength":12288},"limit":{"type":"integer","minimum":1,"maximum":30},"max_age_seconds":{"type":"integer","minimum":0,"maximum":60,"default":0},"query":{"type":"string","maxLength":200},"testnet":{"type":"boolean","default":false},"input":{"type":"object"},"arguments":{"oneOf":[{"type":"object"},{"type":"string","description":"JSON-encoded object, as used by tool calls"}]},"name":{"type":"string"},"tool":{"type":"string"},"tool_id":{"type":"string"},"toolId":{"type":"string"},"function":{"type":"object","required":["name","arguments"],"properties":{"name":{"type":"string"},"arguments":{"type":["string","object"]}},"additionalProperties":false},"type":{"const":"function"},"quantity":{"const":1},"units":{"const":1},"requests":{"const":1},"calls":{"const":1},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-sepolia"]},"operation":{"type":"object","description":"Resolved read-only OpenAPI operation with URL, method and desired action; no remote spec fetching."},"http":{"type":"object"},"command":{"type":"string"},"task":{"type":"object"}},"additionalProperties":false,"description":"Use intent:'demo' for a free result. Paid outcomes accept supported English/Arabic intents with public sources. Unknown jobs return repair guidance; this is not a general-purpose language model.","examples":[{"intent":"Get a technology news digest","limit":10}],"anyOf":[{"required":["intent"]},{"required":["capability"]},{"required":["tool"]},{"required":["tool_id"]},{"required":["toolId"]},{"required":["name"]},{"required":["function"]},{"required":["html"]},{"required":["action"]},{"required":["desired_action"]},{"required":["command"]},{"required":["input"]},{"required":["arguments"]},{"required":["operation"]},{"required":["http"]},{"required":["task"]}]},"example":{"intent":"Get a technology news digest","limit":10}}}},"parameters":[{"name":"X-XGuard-Quote","in":"header","required":false,"schema":{"type":"string"}},{"name":"Payment-Signature","in":"header","required":false,"schema":{"type":"string"}},{"name":"X-XGuard-Credit","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Normalized outcome with integrity metadata and receipt","content":{"application/json":{"schema":{"type":"object","required":["ok","intent","capability","result","verification","cost","receipt"],"properties":{"ok":{"const":true},"intent":{"type":"object"},"capability":{"type":"string"},"result":{"type":"object"},"verification":{"type":"object"},"cost":{"type":"object"},"receipt":{"type":["object","null"]}}}}}},"400":{"description":"Request rejected with repair instructions; no automatic retry of ambiguous settlement.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"402":{"description":"Exact x402 payment requirement; preserve X-XGuard-Quote and retry identical input with Payment-Signature","headers":{"Payment-Required":{"schema":{"type":"string"}},"X-XGuard-Quote":{"schema":{"type":"string"}}}},"403":{"description":"Unsafe target or recovery credential","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"409":{"description":"Request rejected with repair instructions; no automatic retry of ambiguous settlement.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"413":{"description":"Request rejected with repair instructions; no automatic retry of ambiguous settlement.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"422":{"description":"Self-describing repair.suggested_request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"429":{"description":"Rate limit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"500":{"description":"Request rejected with repair instructions; no automatic retry of ambiguous settlement.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"502":{"description":"No usable source; execution credit retained","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"503":{"description":"Payment unavailable or settlement awaiting reconciliation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}}},"description":"Live public-source work requires x402 payment at the exact quoted price. The supplied-HTML preview (intent:demo) is free. An unsigned request only returns a price; it does not fetch sources or settle payment.","x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"dynamic","currency":"USD","min":"0","max":"0.006000"}}}},"/supported":{"get":{"summary":"Return x402 payment kinds supported by healthy upstream facilitators","responses":{"200":{"description":"Supported payment kinds"}}}},"/verify":{"post":{"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["paymentPayload","paymentRequirements"],"properties":{"x402Version":{"const":2},"paymentPayload":{"type":"object","required":["x402Version","accepted","payload"],"properties":{"x402Version":{"const":2},"accepted":{"type":"object"},"payload":{"type":"object"}}},"paymentRequirements":{"type":"object","required":["scheme","network","asset","payTo","amount"]}}}}}},"summary":"Firewall-check and verify an x402 payment payload","responses":{"200":{"description":"Verification result"},"400":{"description":"Blocked by XGuard payment firewall","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"413":{"description":"Request rejected with repair instructions; no automatic retry of ambiguous settlement.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"429":{"description":"Request rejected with repair instructions; no automatic retry of ambiguous settlement.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"503":{"description":"Request rejected with repair instructions; no automatic retry of ambiguous settlement.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}}},"description":"Send the full x402 v2 paymentPayload and paymentRequirements on each request. payment_payload/payment and payment_requirements/requirements are accepted aliases; an encoded Payment-Signature value may supply the payload. Conflicting aliases are rejected. A prior verification response or client trust flag cannot authorize settlement."}},"/settle":{"post":{"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["paymentPayload","paymentRequirements"],"properties":{"x402Version":{"const":2},"paymentPayload":{"type":"object","required":["x402Version","accepted","payload"],"properties":{"x402Version":{"const":2},"accepted":{"type":"object"},"payload":{"type":"object"}}},"paymentRequirements":{"type":"object","required":["scheme","network","asset","payTo","amount"]}}}}}},"summary":"Firewall-check, route and settle an x402 payment with replay protection and reconciliation","responses":{"200":{"description":"Settlement result"},"400":{"description":"Blocked by XGuard payment firewall","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"402":{"description":"XGuard usage credits required after free allowance"},"409":{"description":"Request rejected with repair instructions; no automatic retry of ambiguous settlement.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"413":{"description":"Request rejected with repair instructions; no automatic retry of ambiguous settlement.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"429":{"description":"Request rejected with repair instructions; no automatic retry of ambiguous settlement.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"503":{"description":"Request rejected with repair instructions; no automatic retry of ambiguous settlement.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}}},"description":"Send the full x402 v2 paymentPayload and paymentRequirements on each request. payment_payload/payment and payment_requirements/requirements are accepted aliases; an encoded Payment-Signature value may supply the payload. Conflicting aliases are rejected. A prior verification response or client trust flag cannot authorize settlement."}},"/healthz":{"get":{"summary":"Control-plane and upstream health","responses":{"200":{"description":"Health"}}}},"/v1/receipts/{receipt_id}":{"get":{"summary":"Read a durable XGuard settlement receipt","parameters":[{"name":"receipt_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Receipt"},"404":{"description":"Not found"}}}},"/v1/protocols":{"get":{"summary":"Discover XGuard protocol-neutral control-plane capabilities","responses":{"200":{"description":"Universal protocol manifest"}}}},"/v1/inspect":{"post":{"summary":"Classify and policy-check an agent transaction without forwarding it","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"target":{"type":"string"},"method":{"type":"string"},"headers":{"type":"object"},"body":{}},"required":["target"]}}}},"responses":{"200":{"description":"Detected protocol and policy result"}}}},"/v1/test":{"post":{"summary":"Free Agent Transaction Safety Test across x402, MPP, AP2, UCP, ACP and MCP","description":"Scores a supplied sample for retry safety, idempotency, context binding, replay uniqueness, freshness and auditability. The target is not contacted.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"target":{"type":"string"},"method":{"type":"string"},"headers":{"type":"object"},"body":{}},"required":["target"]}}}},"responses":{"200":{"description":"0–100 structural runtime-readiness report"},"400":{"description":"Invalid sample"}}}},"/v1/test/schema":{"get":{"summary":"Describe the free Agent Transaction Safety Test","responses":{"200":{"description":"Test schema and supported protocols"}}}},"/edge/{merchant-host}/{path}":{"parameters":[{"name":"merchant-host","in":"path","required":true,"schema":{"type":"string"}},{"name":"path","in":"path","required":true,"schema":{"type":"string"}}],"post":{"summary":"Proxy a DNS-authorized merchant transaction through XGuard","responses":{"200":{"description":"Upstream response"},"402":{"description":"Usage credits required"},"403":{"description":"Merchant hostname has not authorized XGuard Edge"}}}},"/facilitator":{"get":{"summary":"Machine-readable XGuard facilitator identity and routing capabilities","responses":{"200":{"description":"Facilitator metadata"}}}},"/discovery/resources":{"get":{"summary":"List x402 Bazaar resources reachable through XGuard catalogs","responses":{"200":{"description":"Aggregated x402 discovery resources"}}}},"/discovery/search":{"get":{"summary":"Search x402 Bazaar resources reachable through XGuard","responses":{"200":{"description":"Aggregated x402 discovery search results"}}}},"/v1/facilitator/route":{"get":{"summary":"Inspect the route XGuard would select for a network/scheme","responses":{"200":{"description":"Live compatible route recommendation"},"503":{"description":"No compatible live route"}}}},"/v1/actions":{"get":{"summary":"Discover XGuard Action Rail","responses":{"200":{"description":"Action Rail manifest"}}}},"/v1/actions/permits":{"post":{"summary":"Prepare one signed single-use AI action permit","responses":{"201":{"description":"Signed action permit"},"401":{"description":"XGuard key required"},"402":{"description":"Usage Credits required"},"428":{"description":"Scoped mandate required"}}}},"/v1/actions/execute":{"post":{"summary":"Execute the exact request bound to an XGuard action permit","responses":{"200":{"description":"Upstream response after controlled execution"},"402":{"description":"Usage Credits required"},"409":{"description":"Replay, state or binding conflict"},"503":{"description":"Ambiguous outcome; fail closed"}}}},"/v1/actions/pricing":{"get":{"summary":"Action Rail Usage Credit billing boundary","responses":{"200":{"description":"Pricing metadata"}}}},"/v1/actions/stats":{"get":{"summary":"Action Rail execution and billing counters","responses":{"200":{"description":"Durable counters"}}}},"/v1/egress":{"get":{"summary":"Discover XGuard Secretless Egress","responses":{"200":{"description":"Egress manifest"}}}},"/v1/egress/credentials":{"post":{"summary":"Store an encrypted upstream credential (operator only)","responses":{"201":{"description":"Credential metadata; secret is never returned"},"401":{"description":"XGuard key required"}}},"get":{"summary":"List operator credential metadata","responses":{"200":{"description":"Credential metadata"}}}},"/v1/egress/capabilities":{"post":{"summary":"Issue a short-lived scoped capability for an agent","responses":{"201":{"description":"Scoped capability"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["credential_id"],"properties":{"credential_id":{"type":"string"},"target_origin":{"type":"string","format":"uri"},"path_prefix":{"type":"string"},"allowed_methods":{"type":"array","items":{"type":"string","enum":["GET","HEAD","POST","PUT","PATCH","DELETE"]}},"ttl_seconds":{"type":"integer","minimum":30,"maximum":3600},"max_calls":{"type":"integer","minimum":1,"maximum":1000},"max_total_credits":{"type":"integer","minimum":1,"maximum":1000000000,"description":"XGuard gateway-credit budget; excludes provider charges"},"max_credits_per_call":{"type":"integer","minimum":1,"maximum":1000000}}}}}}}},"/v1/egress/capabilities/{id}":{"delete":{"summary":"Revoke a capability; already dispatched work may finish","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","pattern":"^[a-f0-9]{32}$"}},{"name":"X-XGuard-Key","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Revoked"},"403":{"description":"Not the capability owner"}}}},"/v1/egress/fetch":{"post":{"summary":"Execute one credential-backed outbound request using an XGuard capability","responses":{"200":{"description":"Upstream response"},"401":{"description":"Capability required"},"402":{"description":"Usage Credits required"},"403":{"description":"Capability or credential scope denied"},"409":{"description":"Request digest conflicts with the key, execution is in progress, or its outcome is unknown; do not use a new key to retry an uncertain write"},"503":{"description":"Billing/decryption/network ambiguity; no automatic replay"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["capability","target"],"properties":{"capability":{"type":"string","description":"Short-lived XGuard capability issued by the operator."},"target":{"type":"string","description":"Public HTTPS URL within the capability scope."},"method":{"type":"string","enum":["GET","HEAD","POST","PUT","PATCH","DELETE"]},"idempotency_key":{"type":"string","minLength":8,"maxLength":128,"pattern":"^[A-Za-z0-9_:.\\-]+$","description":"Required for POST/PUT/PATCH/DELETE. Stable business-operation key; retry the exact same request with this key."},"headers":{"type":"object","additionalProperties":{"type":"string"}},"body_json":{},"body_text":{"type":"string"},"body_base64":{"type":"string"},"content_type":{"type":"string"}}}}}},"parameters":[{"name":"Idempotency-Key","in":"header","schema":{"type":"string","minLength":8,"maxLength":128},"description":"Same value as idempotency_key when both are provided"}]}},"/v1/egress/pricing":{"get":{"summary":"Secretless Egress Usage Credit boundary","responses":{"200":{"description":"Billing contract"}}}},"/v1/capabilities":{"get":{"tags":["Outcomes"],"summary":"List executable outcomes and exact pricing","responses":{"200":{"description":"Capabilities with input/output schemas and examples"}}}},"/v1/pricing":{"get":{"tags":["Outcomes"],"responses":{"200":{"description":"Exact per-execution outcome pricing"}}}},"/v1/preflight":{"get":{"summary":"Describe the free guarded-request preflight","responses":{"200":{"description":"Preflight schema and exact next steps","content":{"application/json":{"schema":{"type":"object"}}}}}},"post":{"summary":"Preflight a guarded paid request without contacting the target","description":"Free and read-only. Validates the normalized public HTTPS target, SSRF policy, trusted public DNS and payment readiness. On allow, call /v1/tools/web.fetch directly for an automatically quoted mandatory x402 v2 flow.","requestBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"type":"object","anyOf":[{"required":["url"]},{"required":["target_url"]},{"required":["targetUrl"]},{"required":["uri"]},{"required":["target"]},{"required":["resource"]},{"required":["endpoint"]},{"required":["href"]},{"required":["curl"]},{"required":["command"]},{"required":["operation"]},{"required":["action"]}],"properties":{"url":{"type":"string","format":"uri","pattern":"^https://","description":"Canonical public HTTPS target URL."},"target_url":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"targetUrl":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"uri":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"target":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"resource":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"endpoint":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"href":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"curl":{"type":"string","description":"One deterministic curl GET/HEAD command containing one absolute HTTPS URL."},"command":{"type":"string","description":"Alias for curl."},"operation":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"OpenAPI/MCP-style operation envelope."},"action":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"Action envelope."},"method":{"type":"string","enum":["GET","HEAD"],"default":"GET"},"timeout_ms":{"type":"integer","minimum":1000,"maximum":10000,"default":8000},"timeoutMs":{"type":"integer","minimum":1000,"maximum":10000,"deprecated":true},"max_bytes":{"type":"integer","minimum":1024,"maximum":131072,"default":131072},"maxBytes":{"type":"integer","minimum":1024,"maximum":131072,"deprecated":true},"mode":{"type":"string","enum":["auto","text","json"],"default":"auto"},"testnet":{"type":"boolean","default":false},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},{"type":"object","required":["input"],"properties":{"tool":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"toolName":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"tool_name":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"capability":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"capability_id":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"capabilityId":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"input":{"type":"object","anyOf":[{"required":["url"]},{"required":["target_url"]},{"required":["targetUrl"]},{"required":["uri"]},{"required":["target"]},{"required":["resource"]},{"required":["endpoint"]},{"required":["href"]},{"required":["curl"]},{"required":["command"]},{"required":["operation"]},{"required":["action"]}],"properties":{"url":{"type":"string","format":"uri","pattern":"^https://","description":"Canonical public HTTPS target URL."},"target_url":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"targetUrl":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"uri":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"target":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"resource":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"endpoint":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"href":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"curl":{"type":"string","description":"One deterministic curl GET/HEAD command containing one absolute HTTPS URL."},"command":{"type":"string","description":"Alias for curl."},"operation":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"OpenAPI/MCP-style operation envelope."},"action":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"Action envelope."},"method":{"type":"string","enum":["GET","HEAD"],"default":"GET"},"timeout_ms":{"type":"integer","minimum":1000,"maximum":10000,"default":8000},"timeoutMs":{"type":"integer","minimum":1000,"maximum":10000,"deprecated":true},"max_bytes":{"type":"integer","minimum":1024,"maximum":131072,"default":131072},"maxBytes":{"type":"integer","minimum":1024,"maximum":131072,"deprecated":true},"mode":{"type":"string","enum":["auto","text","json"],"default":"auto"},"testnet":{"type":"boolean","default":false},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},"testnet":{"type":"boolean"},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},{"type":"object","required":["capability","input"],"properties":{"capability":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"capability_id":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"capabilityId":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"input":{"type":"object","anyOf":[{"required":["url"]},{"required":["target_url"]},{"required":["targetUrl"]},{"required":["uri"]},{"required":["target"]},{"required":["resource"]},{"required":["endpoint"]},{"required":["href"]},{"required":["curl"]},{"required":["command"]},{"required":["operation"]},{"required":["action"]}],"properties":{"url":{"type":"string","format":"uri","pattern":"^https://","description":"Canonical public HTTPS target URL."},"target_url":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"targetUrl":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"uri":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"target":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"resource":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"endpoint":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"href":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"curl":{"type":"string","description":"One deterministic curl GET/HEAD command containing one absolute HTTPS URL."},"command":{"type":"string","description":"Alias for curl."},"operation":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"OpenAPI/MCP-style operation envelope."},"action":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"Action envelope."},"method":{"type":"string","enum":["GET","HEAD"],"default":"GET"},"timeout_ms":{"type":"integer","minimum":1000,"maximum":10000,"default":8000},"timeoutMs":{"type":"integer","minimum":1000,"maximum":10000,"deprecated":true},"max_bytes":{"type":"integer","minimum":1024,"maximum":131072,"default":131072},"maxBytes":{"type":"integer","minimum":1024,"maximum":131072,"deprecated":true},"mode":{"type":"string","enum":["auto","text","json"],"default":"auto"},"testnet":{"type":"boolean","default":false},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},"testnet":{"type":"boolean"},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},{"type":"object","required":["name","arguments"],"properties":{"name":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"arguments":{"oneOf":[{"type":"object","anyOf":[{"required":["url"]},{"required":["target_url"]},{"required":["targetUrl"]},{"required":["uri"]},{"required":["target"]},{"required":["resource"]},{"required":["endpoint"]},{"required":["href"]},{"required":["curl"]},{"required":["command"]},{"required":["operation"]},{"required":["action"]}],"properties":{"url":{"type":"string","format":"uri","pattern":"^https://","description":"Canonical public HTTPS target URL."},"target_url":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"targetUrl":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"uri":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"target":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"resource":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"endpoint":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"href":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"curl":{"type":"string","description":"One deterministic curl GET/HEAD command containing one absolute HTTPS URL."},"command":{"type":"string","description":"Alias for curl."},"operation":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"OpenAPI/MCP-style operation envelope."},"action":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"Action envelope."},"method":{"type":"string","enum":["GET","HEAD"],"default":"GET"},"timeout_ms":{"type":"integer","minimum":1000,"maximum":10000,"default":8000},"timeoutMs":{"type":"integer","minimum":1000,"maximum":10000,"deprecated":true},"max_bytes":{"type":"integer","minimum":1024,"maximum":131072,"default":131072},"maxBytes":{"type":"integer","minimum":1024,"maximum":131072,"deprecated":true},"mode":{"type":"string","enum":["auto","text","json"],"default":"auto"},"testnet":{"type":"boolean","default":false},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},{"type":"string","contentMediaType":"application/json"}]},"testnet":{"type":"boolean"},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},{"type":"object","required":["tool_name","parameters"],"properties":{"tool_name":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"toolName":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"parameters":{"type":"object","anyOf":[{"required":["url"]},{"required":["target_url"]},{"required":["targetUrl"]},{"required":["uri"]},{"required":["target"]},{"required":["resource"]},{"required":["endpoint"]},{"required":["href"]},{"required":["curl"]},{"required":["command"]},{"required":["operation"]},{"required":["action"]}],"properties":{"url":{"type":"string","format":"uri","pattern":"^https://","description":"Canonical public HTTPS target URL."},"target_url":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"targetUrl":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"uri":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"target":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"resource":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"endpoint":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"href":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"curl":{"type":"string","description":"One deterministic curl GET/HEAD command containing one absolute HTTPS URL."},"command":{"type":"string","description":"Alias for curl."},"operation":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"OpenAPI/MCP-style operation envelope."},"action":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"Action envelope."},"method":{"type":"string","enum":["GET","HEAD"],"default":"GET"},"timeout_ms":{"type":"integer","minimum":1000,"maximum":10000,"default":8000},"timeoutMs":{"type":"integer","minimum":1000,"maximum":10000,"deprecated":true},"max_bytes":{"type":"integer","minimum":1024,"maximum":131072,"default":131072},"maxBytes":{"type":"integer","minimum":1024,"maximum":131072,"deprecated":true},"mode":{"type":"string","enum":["auto","text","json"],"default":"auto"},"testnet":{"type":"boolean","default":false},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},"testnet":{"type":"boolean"},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},{"type":"object","required":["function"],"properties":{"function":{"type":"object","required":["name","arguments"],"properties":{"name":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"arguments":{"oneOf":[{"type":"object","anyOf":[{"required":["url"]},{"required":["target_url"]},{"required":["targetUrl"]},{"required":["uri"]},{"required":["target"]},{"required":["resource"]},{"required":["endpoint"]},{"required":["href"]},{"required":["curl"]},{"required":["command"]},{"required":["operation"]},{"required":["action"]}],"properties":{"url":{"type":"string","format":"uri","pattern":"^https://","description":"Canonical public HTTPS target URL."},"target_url":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"targetUrl":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"uri":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"target":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"resource":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"endpoint":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"href":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"curl":{"type":"string","description":"One deterministic curl GET/HEAD command containing one absolute HTTPS URL."},"command":{"type":"string","description":"Alias for curl."},"operation":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"OpenAPI/MCP-style operation envelope."},"action":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"Action envelope."},"method":{"type":"string","enum":["GET","HEAD"],"default":"GET"},"timeout_ms":{"type":"integer","minimum":1000,"maximum":10000,"default":8000},"timeoutMs":{"type":"integer","minimum":1000,"maximum":10000,"deprecated":true},"max_bytes":{"type":"integer","minimum":1024,"maximum":131072,"default":131072},"maxBytes":{"type":"integer","minimum":1024,"maximum":131072,"deprecated":true},"mode":{"type":"string","enum":["auto","text","json"],"default":"auto"},"testnet":{"type":"boolean","default":false},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},{"type":"string","contentMediaType":"application/json"}]}},"additionalProperties":true},"testnet":{"type":"boolean"},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true}],"description":"Canonical form is a flat object with url. Explicitly supported agent envelopes are documented in x-xguard-accepted-shapes.","x-xguard-accepted-shapes":[{"name":"canonical_flat","example":{"url":"https://example.com/","method":"GET","testnet":true}},{"name":"tool_input","example":{"tool":"xguard.web.fetch","input":{"url":"https://example.com/","method":"GET"},"testnet":true}},{"name":"mcp_arguments","example":{"name":"xguard.web.fetch","arguments":{"url":"https://example.com/","method":"GET"},"testnet":true}},{"name":"tool_parameters","example":{"tool_name":"xguard.web.fetch","parameters":{"url":"https://example.com/","method":"GET"},"network":"eip155:84532"}},{"name":"function_call","example":{"function":{"name":"xguard.web.fetch","arguments":"{\"url\":\"https://example.com/\",\"method\":\"GET\"}"},"testnet":true}},{"name":"curl_command","example":{"command":"curl https://example.com/","testnet":true}},{"name":"operation_object","example":{"operation":{"name":"xguard.web.fetch","arguments":{"endpoint":"https://example.com/","method":"GET"}},"testnet":true}}]},"examples":{"canonical_flat":{"value":{"url":"https://example.com/","method":"GET","testnet":true}},"tool_input":{"value":{"tool":"xguard.web.fetch","input":{"url":"https://example.com/","method":"GET"},"testnet":true}},"mcp_arguments":{"value":{"name":"xguard.web.fetch","arguments":{"url":"https://example.com/","method":"GET"},"testnet":true}},"tool_parameters":{"value":{"tool_name":"xguard.web.fetch","parameters":{"url":"https://example.com/","method":"GET"},"network":"eip155:84532"}},"function_call":{"value":{"function":{"name":"xguard.web.fetch","arguments":"{\"url\":\"https://example.com/\",\"method\":\"GET\"}"},"testnet":true}},"curl_command":{"value":{"command":"curl https://example.com/","testnet":true}},"operation_object":{"value":{"operation":{"name":"xguard.web.fetch","arguments":{"endpoint":"https://example.com/","method":"GET"}},"testnet":true}}}}}},"responses":{"200":{"description":"Target is safe to quote; no upstream request was made","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Machine-readable input error with retry guidance","content":{"application/json":{"schema":{"type":"object"}}}},"403":{"description":"Target is blocked by public HTTPS or SSRF policy","content":{"application/json":{"schema":{"type":"object"}}}},"422":{"description":"Hostname has no public DNS address","content":{"application/json":{"schema":{"type":"object"}}}},"503":{"description":"Trusted DNS or payment path temporarily unavailable","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/v1/pricing/quote":{"post":{"summary":"Quote a live outcome or the compatible web.fetch tool","description":"Free. Send capability:feed-digest for the smallest paid-outcome quote. Tool aliases and JSON-encoded function arguments are accepted only when unambiguous. Quantity is one bounded execution. next.body is directly executable with the returned quote header. Testnet must match the requested network.","requestBody":{"required":true,"content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"intent":{"oneOf":[{"type":"string","maxLength":3000},{"type":"object"}]},"capability":{"type":"string","enum":["extract-preview","web-extraction","product-offers","feed-digest"]},"url":{"type":"string","format":"uri"},"urls":{"type":"array","maxItems":3,"items":{"type":"string","format":"uri"}},"sources":{"type":"array","maxItems":3,"items":{"oneOf":[{"type":"string","format":"uri","pattern":"^https://"},{"type":"object","required":["url"],"properties":{"url":{"type":"string","format":"uri"},"fallbacks":{"type":"array","maxItems":1,"items":{"type":"string","format":"uri"}}},"additionalProperties":false}]}},"action":{"type":"string"},"desired_action":{"type":"string"},"html":{"type":"string","maxLength":12288},"limit":{"type":"integer","minimum":1,"maximum":30},"max_age_seconds":{"type":"integer","minimum":0,"maximum":60,"default":0},"query":{"type":"string","maxLength":200},"testnet":{"type":"boolean","default":false},"input":{"type":"object"},"arguments":{"oneOf":[{"type":"object"},{"type":"string","description":"JSON-encoded object, as used by tool calls"}]},"name":{"type":"string"},"tool":{"type":"string"},"tool_id":{"type":"string"},"toolId":{"type":"string"},"function":{"type":"object","required":["name","arguments"],"properties":{"name":{"type":"string"},"arguments":{"type":["string","object"]}},"additionalProperties":false},"type":{"const":"function"},"quantity":{"const":1},"units":{"const":1},"requests":{"const":1},"calls":{"const":1},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-sepolia"]},"operation":{"type":"object","description":"Resolved read-only OpenAPI operation with URL, method and desired action; no remote spec fetching."},"http":{"type":"object"},"command":{"type":"string"},"task":{"type":"object"}},"additionalProperties":false,"description":"Use intent:'demo' for a free result. Paid outcomes accept supported English/Arabic intents with public sources. Unknown jobs return repair guidance; this is not a general-purpose language model."},{"oneOf":[{"type":"object","anyOf":[{"required":["url"]},{"required":["target_url"]},{"required":["targetUrl"]},{"required":["uri"]},{"required":["target"]},{"required":["resource"]},{"required":["endpoint"]},{"required":["href"]},{"required":["curl"]},{"required":["command"]},{"required":["operation"]},{"required":["action"]}],"properties":{"url":{"type":"string","format":"uri","pattern":"^https://","description":"Canonical public HTTPS target URL."},"target_url":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"targetUrl":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"uri":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"target":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"resource":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"endpoint":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"href":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"curl":{"type":"string","description":"One deterministic curl GET/HEAD command containing one absolute HTTPS URL."},"command":{"type":"string","description":"Alias for curl."},"operation":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"OpenAPI/MCP-style operation envelope."},"action":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"Action envelope."},"method":{"type":"string","enum":["GET","HEAD"],"default":"GET"},"timeout_ms":{"type":"integer","minimum":1000,"maximum":10000,"default":8000},"timeoutMs":{"type":"integer","minimum":1000,"maximum":10000,"deprecated":true},"max_bytes":{"type":"integer","minimum":1024,"maximum":131072,"default":131072},"maxBytes":{"type":"integer","minimum":1024,"maximum":131072,"deprecated":true},"mode":{"type":"string","enum":["auto","text","json"],"default":"auto"},"testnet":{"type":"boolean","default":false},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},{"type":"object","required":["input"],"properties":{"tool":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"toolName":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"tool_name":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"capability":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"capability_id":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"capabilityId":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"input":{"type":"object","anyOf":[{"required":["url"]},{"required":["target_url"]},{"required":["targetUrl"]},{"required":["uri"]},{"required":["target"]},{"required":["resource"]},{"required":["endpoint"]},{"required":["href"]},{"required":["curl"]},{"required":["command"]},{"required":["operation"]},{"required":["action"]}],"properties":{"url":{"type":"string","format":"uri","pattern":"^https://","description":"Canonical public HTTPS target URL."},"target_url":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"targetUrl":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"uri":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"target":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"resource":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"endpoint":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"href":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"curl":{"type":"string","description":"One deterministic curl GET/HEAD command containing one absolute HTTPS URL."},"command":{"type":"string","description":"Alias for curl."},"operation":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"OpenAPI/MCP-style operation envelope."},"action":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"Action envelope."},"method":{"type":"string","enum":["GET","HEAD"],"default":"GET"},"timeout_ms":{"type":"integer","minimum":1000,"maximum":10000,"default":8000},"timeoutMs":{"type":"integer","minimum":1000,"maximum":10000,"deprecated":true},"max_bytes":{"type":"integer","minimum":1024,"maximum":131072,"default":131072},"maxBytes":{"type":"integer","minimum":1024,"maximum":131072,"deprecated":true},"mode":{"type":"string","enum":["auto","text","json"],"default":"auto"},"testnet":{"type":"boolean","default":false},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},"testnet":{"type":"boolean"},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},{"type":"object","required":["capability","input"],"properties":{"capability":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"capability_id":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"capabilityId":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"input":{"type":"object","anyOf":[{"required":["url"]},{"required":["target_url"]},{"required":["targetUrl"]},{"required":["uri"]},{"required":["target"]},{"required":["resource"]},{"required":["endpoint"]},{"required":["href"]},{"required":["curl"]},{"required":["command"]},{"required":["operation"]},{"required":["action"]}],"properties":{"url":{"type":"string","format":"uri","pattern":"^https://","description":"Canonical public HTTPS target URL."},"target_url":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"targetUrl":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"uri":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"target":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"resource":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"endpoint":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"href":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"curl":{"type":"string","description":"One deterministic curl GET/HEAD command containing one absolute HTTPS URL."},"command":{"type":"string","description":"Alias for curl."},"operation":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"OpenAPI/MCP-style operation envelope."},"action":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"Action envelope."},"method":{"type":"string","enum":["GET","HEAD"],"default":"GET"},"timeout_ms":{"type":"integer","minimum":1000,"maximum":10000,"default":8000},"timeoutMs":{"type":"integer","minimum":1000,"maximum":10000,"deprecated":true},"max_bytes":{"type":"integer","minimum":1024,"maximum":131072,"default":131072},"maxBytes":{"type":"integer","minimum":1024,"maximum":131072,"deprecated":true},"mode":{"type":"string","enum":["auto","text","json"],"default":"auto"},"testnet":{"type":"boolean","default":false},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},"testnet":{"type":"boolean"},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},{"type":"object","required":["name","arguments"],"properties":{"name":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"arguments":{"oneOf":[{"type":"object","anyOf":[{"required":["url"]},{"required":["target_url"]},{"required":["targetUrl"]},{"required":["uri"]},{"required":["target"]},{"required":["resource"]},{"required":["endpoint"]},{"required":["href"]},{"required":["curl"]},{"required":["command"]},{"required":["operation"]},{"required":["action"]}],"properties":{"url":{"type":"string","format":"uri","pattern":"^https://","description":"Canonical public HTTPS target URL."},"target_url":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"targetUrl":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"uri":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"target":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"resource":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"endpoint":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"href":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"curl":{"type":"string","description":"One deterministic curl GET/HEAD command containing one absolute HTTPS URL."},"command":{"type":"string","description":"Alias for curl."},"operation":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"OpenAPI/MCP-style operation envelope."},"action":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"Action envelope."},"method":{"type":"string","enum":["GET","HEAD"],"default":"GET"},"timeout_ms":{"type":"integer","minimum":1000,"maximum":10000,"default":8000},"timeoutMs":{"type":"integer","minimum":1000,"maximum":10000,"deprecated":true},"max_bytes":{"type":"integer","minimum":1024,"maximum":131072,"default":131072},"maxBytes":{"type":"integer","minimum":1024,"maximum":131072,"deprecated":true},"mode":{"type":"string","enum":["auto","text","json"],"default":"auto"},"testnet":{"type":"boolean","default":false},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},{"type":"string","contentMediaType":"application/json"}]},"testnet":{"type":"boolean"},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},{"type":"object","required":["tool_name","parameters"],"properties":{"tool_name":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"toolName":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"parameters":{"type":"object","anyOf":[{"required":["url"]},{"required":["target_url"]},{"required":["targetUrl"]},{"required":["uri"]},{"required":["target"]},{"required":["resource"]},{"required":["endpoint"]},{"required":["href"]},{"required":["curl"]},{"required":["command"]},{"required":["operation"]},{"required":["action"]}],"properties":{"url":{"type":"string","format":"uri","pattern":"^https://","description":"Canonical public HTTPS target URL."},"target_url":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"targetUrl":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"uri":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"target":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"resource":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"endpoint":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"href":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"curl":{"type":"string","description":"One deterministic curl GET/HEAD command containing one absolute HTTPS URL."},"command":{"type":"string","description":"Alias for curl."},"operation":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"OpenAPI/MCP-style operation envelope."},"action":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"Action envelope."},"method":{"type":"string","enum":["GET","HEAD"],"default":"GET"},"timeout_ms":{"type":"integer","minimum":1000,"maximum":10000,"default":8000},"timeoutMs":{"type":"integer","minimum":1000,"maximum":10000,"deprecated":true},"max_bytes":{"type":"integer","minimum":1024,"maximum":131072,"default":131072},"maxBytes":{"type":"integer","minimum":1024,"maximum":131072,"deprecated":true},"mode":{"type":"string","enum":["auto","text","json"],"default":"auto"},"testnet":{"type":"boolean","default":false},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},"testnet":{"type":"boolean"},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},{"type":"object","required":["function"],"properties":{"function":{"type":"object","required":["name","arguments"],"properties":{"name":{"type":"string","enum":["xguard.web.fetch","web.fetch","fetch","xguard_web_fetch"]},"arguments":{"oneOf":[{"type":"object","anyOf":[{"required":["url"]},{"required":["target_url"]},{"required":["targetUrl"]},{"required":["uri"]},{"required":["target"]},{"required":["resource"]},{"required":["endpoint"]},{"required":["href"]},{"required":["curl"]},{"required":["command"]},{"required":["operation"]},{"required":["action"]}],"properties":{"url":{"type":"string","format":"uri","pattern":"^https://","description":"Canonical public HTTPS target URL."},"target_url":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"targetUrl":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"uri":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"target":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"resource":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"endpoint":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"href":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"curl":{"type":"string","description":"One deterministic curl GET/HEAD command containing one absolute HTTPS URL."},"command":{"type":"string","description":"Alias for curl."},"operation":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"OpenAPI/MCP-style operation envelope."},"action":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"Action envelope."},"method":{"type":"string","enum":["GET","HEAD"],"default":"GET"},"timeout_ms":{"type":"integer","minimum":1000,"maximum":10000,"default":8000},"timeoutMs":{"type":"integer","minimum":1000,"maximum":10000,"deprecated":true},"max_bytes":{"type":"integer","minimum":1024,"maximum":131072,"default":131072},"maxBytes":{"type":"integer","minimum":1024,"maximum":131072,"deprecated":true},"mode":{"type":"string","enum":["auto","text","json"],"default":"auto"},"testnet":{"type":"boolean","default":false},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true},{"type":"string","contentMediaType":"application/json"}]}},"additionalProperties":true},"testnet":{"type":"boolean"},"network":{"type":"string","enum":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia","mainnet","testnet"]}},"additionalProperties":true}],"description":"Canonical form is a flat object with url. Explicitly supported agent envelopes are documented in x-xguard-accepted-shapes.","x-xguard-accepted-shapes":[{"name":"canonical_flat","example":{"url":"https://example.com/","method":"GET","testnet":true}},{"name":"tool_input","example":{"tool":"xguard.web.fetch","input":{"url":"https://example.com/","method":"GET"},"testnet":true}},{"name":"mcp_arguments","example":{"name":"xguard.web.fetch","arguments":{"url":"https://example.com/","method":"GET"},"testnet":true}},{"name":"tool_parameters","example":{"tool_name":"xguard.web.fetch","parameters":{"url":"https://example.com/","method":"GET"},"network":"eip155:84532"}},{"name":"function_call","example":{"function":{"name":"xguard.web.fetch","arguments":"{\"url\":\"https://example.com/\",\"method\":\"GET\"}"},"testnet":true}},{"name":"curl_command","example":{"command":"curl https://example.com/","testnet":true}},{"name":"operation_object","example":{"operation":{"name":"xguard.web.fetch","arguments":{"endpoint":"https://example.com/","method":"GET"}},"testnet":true}}]}]},"examples":{"canonical_flat":{"value":{"url":"https://example.com/","method":"GET","testnet":true}},"tool_input":{"value":{"tool":"xguard.web.fetch","input":{"url":"https://example.com/","method":"GET"},"testnet":true}},"mcp_arguments":{"value":{"name":"xguard.web.fetch","arguments":{"url":"https://example.com/","method":"GET"},"testnet":true}},"tool_parameters":{"value":{"tool_name":"xguard.web.fetch","parameters":{"url":"https://example.com/","method":"GET"},"network":"eip155:84532"}},"function_call":{"value":{"function":{"name":"xguard.web.fetch","arguments":"{\"url\":\"https://example.com/\",\"method\":\"GET\"}"},"testnet":true}},"curl_command":{"value":{"command":"curl https://example.com/","testnet":true}},"operation_object":{"value":{"operation":{"name":"xguard.web.fetch","arguments":{"endpoint":"https://example.com/","method":"GET"}},"testnet":true}}},"example":{"capability":"feed-digest"}}}},"responses":{"200":{"description":"Signed five-minute quote plus normalized input and exact next-step instructions","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Machine-readable validation error with accepted fields, values, shapes, and retry example","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"403":{"description":"Private, local, metadata, credential-bearing, or XGuard-owned target rejected","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"413":{"description":"Request rejected with repair instructions; no automatic retry of ambiguous settlement.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"422":{"description":"Hostname definitively has no public DNS address","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"429":{"description":"Request rejected with repair instructions; no automatic retry of ambiguous settlement.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"500":{"description":"Request rejected with repair instructions; no automatic retry of ambiguous settlement.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}},"503":{"description":"Trusted DNS validation or payment configuration temporarily unavailable; retryable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicError"}}}}},"x-xguard-payment-flow":{"price":{"amount_atomic":"1000","currency":"USDC","decimals":6},"steps":["POST https://api.xguardgate.com/v1/tools/web.fetch with {url: \"https://example.com/\"}","Read Payment-Required and X-XGuard-Quote from HTTP 402","Sign Payment-Required with an official x402 v2 payer","Retry the identical request with Payment-Signature and X-XGuard-Quote","Verify Payment-Response, signed receipt, and ProofRail evidence on HTTP 200"],"standalone_quote_optional":"https://api.xguardgate.com/v1/pricing/quote","settlement_before_execution":true,"payment_required":true}}},"/v1/tools/web.fetch":{"post":{"summary":"Fetch a public HTTPS resource only after required x402 settlement","description":"Payment is mandatory. Call directly with a public HTTPS URL: if no quote is supplied, XGuard creates an input-bound signed quote and returns it inside HTTP 402 and X-XGuard-Quote. Retry only after creating Payment-Signature from Payment-Required. Advanced clients may obtain the same quote first from /v1/pricing/quote. XGuard verifies and settles before any upstream request.","parameters":[{"name":"X-XGuard-Quote","in":"header","required":false,"description":"Omit on the first call; XGuard returns an input-bound quote in this response header. Send it on the paid retry.","schema":{"type":"string"}},{"name":"Payment-Signature","in":"header","required":false,"description":"Omit on the first call to receive HTTP 402; required on the settled retry.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","anyOf":[{"required":["url"]},{"required":["target_url"]},{"required":["targetUrl"]},{"required":["uri"]},{"required":["target"]},{"required":["resource"]},{"required":["endpoint"]},{"required":["href"]},{"required":["curl"]},{"required":["command"]},{"required":["operation"]},{"required":["action"]}],"properties":{"url":{"type":"string","format":"uri","pattern":"^https://","description":"Canonical public HTTPS target URL."},"target_url":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"targetUrl":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"uri":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"target":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"resource":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"endpoint":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"href":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"curl":{"type":"string","description":"One deterministic curl GET/HEAD command containing one absolute HTTPS URL."},"command":{"type":"string","description":"Alias for curl."},"operation":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"OpenAPI/MCP-style operation envelope."},"action":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"Action envelope."},"method":{"type":"string","enum":["GET","HEAD"],"default":"GET"},"timeout_ms":{"type":"integer","minimum":1000,"maximum":10000,"default":8000},"timeoutMs":{"type":"integer","minimum":1000,"maximum":10000,"deprecated":true},"max_bytes":{"type":"integer","minimum":1024,"maximum":131072,"default":131072},"maxBytes":{"type":"integer","minimum":1024,"maximum":131072,"deprecated":true},"mode":{"type":"string","enum":["auto","text","json"],"default":"auto"},"quote":{"type":"string","description":"Compact signed quote returned by xguard.pricing.quote."}},"additionalProperties":true},"example":{"url":"https://example.com/","method":"GET"}}}},"responses":{"200":{"description":"Settled result, Payment-Response, signed receipt, and ProofRail evidence","content":{"application/json":{"schema":{"type":"object"}}}},"402":{"description":"Required x402 v2 Payment-Required challenge, automatically issued input-bound quote, and signed offer","content":{"application/json":{"schema":{"type":"object"}}}},"409":{"description":"Replay or idempotency conflict"},"503":{"description":"Ambiguous settlement; no upstream execution"}},"x-xguard-payment-flow":{"price":{"amount_atomic":"1000","currency":"USDC","decimals":6},"steps":["POST https://api.xguardgate.com/v1/tools/web.fetch with {url: \"https://example.com/\"}","Read Payment-Required and X-XGuard-Quote from HTTP 402","Sign Payment-Required with an official x402 v2 payer","Retry the identical request with Payment-Signature and X-XGuard-Quote","Verify Payment-Response, signed receipt, and ProofRail evidence on HTTP 200"],"standalone_quote_optional":"https://api.xguardgate.com/v1/pricing/quote","settlement_before_execution":true,"payment_required":true}}},"/v1/tools/web.fetch/testnet":{"post":{"summary":"Base Sepolia testnet form of xguard.web.fetch","description":"Same mandatory one-call x402 v2 flow as mainnet, using Base Sepolia USDC. A first request without a quote automatically returns a signed testnet quote and Payment-Required challenge; test settlement never counts as revenue.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","anyOf":[{"required":["url"]},{"required":["target_url"]},{"required":["targetUrl"]},{"required":["uri"]},{"required":["target"]},{"required":["resource"]},{"required":["endpoint"]},{"required":["href"]},{"required":["curl"]},{"required":["command"]},{"required":["operation"]},{"required":["action"]}],"properties":{"url":{"type":"string","format":"uri","pattern":"^https://","description":"Canonical public HTTPS target URL."},"target_url":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"targetUrl":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"uri":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"target":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"resource":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"endpoint":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"href":{"type":"string","format":"uri","pattern":"^https://","deprecated":true,"description":"Accepted alias for url."},"curl":{"type":"string","description":"One deterministic curl GET/HEAD command containing one absolute HTTPS URL."},"command":{"type":"string","description":"Alias for curl."},"operation":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"OpenAPI/MCP-style operation envelope."},"action":{"oneOf":[{"type":"string"},{"type":"object"}],"description":"Action envelope."},"method":{"type":"string","enum":["GET","HEAD"],"default":"GET"},"timeout_ms":{"type":"integer","minimum":1000,"maximum":10000,"default":8000},"timeoutMs":{"type":"integer","minimum":1000,"maximum":10000,"deprecated":true},"max_bytes":{"type":"integer","minimum":1024,"maximum":131072,"default":131072},"maxBytes":{"type":"integer","minimum":1024,"maximum":131072,"deprecated":true},"mode":{"type":"string","enum":["auto","text","json"],"default":"auto"},"quote":{"type":"string","description":"Compact signed quote returned by xguard.pricing.quote."}},"additionalProperties":true}}}},"responses":{"200":{"description":"Settled testnet result, signed receipt, and ProofRail evidence"},"402":{"description":"Required Base Sepolia x402 challenge with automatically created signed quote"}},"x-xguard-payment-flow":{"price":{"amount_atomic":"1000","currency":"USDC","decimals":6},"steps":["POST https://api.xguardgate.com/v1/tools/web.fetch with {url: \"https://example.com/\"}","Read Payment-Required and X-XGuard-Quote from HTTP 402","Sign Payment-Required with an official x402 v2 payer","Retry the identical request with Payment-Signature and X-XGuard-Quote","Verify Payment-Response, signed receipt, and ProofRail evidence on HTTP 200"],"standalone_quote_optional":"https://api.xguardgate.com/v1/pricing/quote","settlement_before_execution":true,"payment_required":true,"network":"eip155:84532"}}},"/v1/operations/{payment_identifier}":{"get":{"summary":"Read a payment/execution state","parameters":[{"name":"payment_identifier","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Explicit financial state","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"Unknown identifier"}}}},"/v1/health":{"get":{"summary":"Liveness probe","responses":{"200":{"description":"Worker is live"}}}},"/v1/ready":{"get":{"summary":"Dependency readiness probe","responses":{"200":{"description":"Ready"},"503":{"description":"Dependency unavailable"}}}},"/v1/payment/readiness":{"get":{"summary":"Inspect production and test payment readiness without exposing secrets","responses":{"200":{"description":"Machine-readable rail configuration and facilitator reachability","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/v1/metrics":{"get":{"summary":"Paid-gateway operational counters","responses":{"200":{"description":"Actual challenges, settlement outcomes, upstream failures, replays, and latency aggregates"}}}},"/v1/proof":{"get":{"summary":"Discover XGuard ProofRail","description":"Returns the signed execution-evidence contract, verification endpoint and public-key URL.","responses":{"200":{"description":"ProofRail discovery metadata"}}}},"/v1/proofs/verify":{"post":{"summary":"Verify a ProofRail compact proof","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["proof"],"properties":{"proof":{"type":"string"}}}}}},"responses":{"200":{"description":"Proof validity and signed claims"},"400":{"description":"Malformed proof"}}}},"/v1/capabilities/{id}":{"get":{"tags":["Outcomes"],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Executable capability"},"404":{"description":"Unavailable with alternatives"}}}},"/v1/results/{payment_identifier}":{"get":{"tags":["Outcomes"],"parameters":[{"in":"path","name":"payment_identifier","required":true,"schema":{"type":"string"}},{"in":"header","name":"X-XGuard-Quote","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Normalized outcome with integrity metadata and receipt","content":{"application/json":{"schema":{"type":"object","required":["ok","intent","capability","result","verification","cost","receipt"],"properties":{"ok":{"const":true},"intent":{"type":"object"},"capability":{"type":"string"},"result":{"type":"object"},"verification":{"type":"object"},"cost":{"type":"object"},"receipt":{"type":["object","null"]}}}}}},"202":{"description":"Pending or credited operation; no reexecution"},"403":{"description":"Unsafe target or recovery credential"},"404":{"description":"Unknown operation"}}}},"/agent-card.json":{"get":{"summary":"Canonical discovery alias","responses":{"308":{"description":"Follow Location to the canonical representation"}}}},"/openapi.yaml":{"get":{"summary":"Canonical discovery alias","responses":{"308":{"description":"Follow Location to the canonical representation"}}}},"/pricing":{"get":{"summary":"Canonical discovery alias","responses":{"308":{"description":"Follow Location to the canonical representation"}}}},"/.well-known/agent-directory.json":{"get":{"summary":"Discover the canonical XGuard agent card and tool catalog","responses":{"200":{"description":"XGuard discovery links"}}}},"/.well-known/oauth-protected-resource":{"get":{"summary":"Resource metadata; public x402 tools do not require OAuth","responses":{"200":{"description":"Resource URL and truthful authentication capabilities"}}}},"/.well-known/oauth-protected-resource/mcp":{"get":{"summary":"Resource metadata; public x402 tools do not require OAuth","responses":{"200":{"description":"Resource URL and truthful authentication capabilities"}}}}},"primary_product":"XGuard Universal Paid AI Agent + Secretless Gateway","primary_role":"credential broker and egress choke point for AI agents","secretless_egress":{"manifest":"https://api.xguardgate.com/v1/egress","providers":"https://api.xguardgate.com/v1/egress/providers","credential_management":"https://api.xguardgate.com/v1/egress/credentials","capability_issuance":"https://api.xguardgate.com/v1/egress/capabilities","agent_fetch":"https://api.xguardgate.com/v1/egress/fetch","pricing":"https://api.xguardgate.com/v1/egress/pricing","security_model":"operator holds reusable secret; agent receives scoped short-lived XGuard capability"},"x_xguard":{"product":"XGUARD = UNIVERSAL PAID AI AGENT + SECRETLESS GATEWAY","when_to_use":"Use XGuard when an agent needs a paid bounded tool or credential-backed API access without receiving a reusable upstream secret.","actual_capabilities":"https://api.xguardgate.com/v1/capabilities","pricing":"https://api.xguardgate.com/v1/pricing","quote_request":{"endpoint":"https://api.xguardgate.com/v1/pricing/quote","method":"POST","content_type":"application/json","canonical_shape":{"url":"https://example.com/","method":"GET","testnet":true},"accepted_shapes":[{"name":"canonical_flat","example":{"url":"https://example.com/","method":"GET","testnet":true}},{"name":"tool_input","example":{"tool":"xguard.web.fetch","input":{"url":"https://example.com/","method":"GET"},"testnet":true}},{"name":"mcp_arguments","example":{"name":"xguard.web.fetch","arguments":{"url":"https://example.com/","method":"GET"},"testnet":true}},{"name":"tool_parameters","example":{"tool_name":"xguard.web.fetch","parameters":{"url":"https://example.com/","method":"GET"},"network":"eip155:84532"}},{"name":"function_call","example":{"function":{"name":"xguard.web.fetch","arguments":"{\"url\":\"https://example.com/\",\"method\":\"GET\"}"},"testnet":true}},{"name":"curl_command","example":{"command":"curl https://example.com/","testnet":true}},{"name":"operation_object","example":{"operation":{"name":"xguard.web.fetch","arguments":{"endpoint":"https://example.com/","method":"GET"}},"testnet":true}}],"required":{"url":"A public HTTPS URL without credentials or a fragment."},"optional":{"tool":{"accepted":["xguard.web.fetch"],"default":"xguard.web.fetch"},"method":{"accepted":["GET","HEAD"],"default":"GET"},"timeout_ms":{"type":"integer","minimum":1000,"maximum":10000,"default":8000,"aliases":["timeoutMs"]},"max_bytes":{"type":"integer","minimum":1024,"maximum":131072,"default":131072,"aliases":["maxBytes"]},"mode":{"accepted":["auto","text","json"],"default":"auto"},"testnet":{"type":"boolean","default":false,"equivalent_network":"eip155:84532"},"network":{"accepted":["eip155:8453","eip155:84532","base","base-mainnet","base-sepolia"]}},"url_aliases":["url","target_url","targetUrl","uri","target","resource","endpoint","href"],"deterministic_command_aliases":["curl","command"],"next":"Fastest path: call the paid execution URL directly with the input. XGuard automatically creates the same signed quote and returns it with HTTP 402. Construct an official x402 v2 Payment-Signature from Payment-Required and retry the identical request. Advanced clients may request this quote separately first."},"payment_manifest":"https://api.xguardgate.com/.well-known/payment-manifest","payment_readiness":"https://api.xguardgate.com/v1/payment/readiness","paid_operations_require_x402":true,"testnet_is_revenue":false},"canonical_identity":{"name":"XGuard Universal Paid AI Agent + Secretless Gateway","version":"5.1.0","primary_product":"Universal Paid AI Agent + Secretless Gateway","primary_role":"paid tool and credential broker with controlled egress for AI agents","site":"https://xguardgate.com","api":"https://api.xguardgate.com","mcp":"https://api.xguardgate.com/mcp"},"tags":[{"name":"Outcomes","description":"Primary intent execution"}],"components":{"schemas":{"PublicError":{"type":"object","required":["ok","error","error_code","request_id","next"],"properties":{"ok":{"const":false},"error_code":{"type":"string"},"request_id":{"type":"string"},"next":{"type":"object"},"error":{"type":"object","required":["code","message","retryable","docs"],"properties":{"code":{"type":"string"},"message":{"type":"string"},"field":{"type":"string"},"required_fields":{"type":"array","items":{"type":"string"}},"retryable":{"type":"boolean"},"docs":{"type":"string","format":"uri"},"example":{"type":"object"}}}}}}}}